/* ########### Animations ##########*/
#about:target ~ #scroll{
	transform: translateY(0%);
}
#pict:target ~ #scroll{
	transform: translateY(-100%);
}
#real:target ~ #scroll{
	transform: translateY(-200%);
}
#contact:target ~ #scroll{
	transform: translateY(-300%);
}

#about:target ~ #scroll #sec-lp .desc,
#pict:target ~ #scroll #sec-macro .desc,
#real:target ~ #scroll #sec-bob2014 .desc,
#contact:target ~ #scroll #sec-about .desc{
	animation: fadeIn 1.1s ease-in-out 1s backwards;
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
	0% {
		transform: translateX(0px);
		opacity: 0;
	}
	100% {
		transform: translateX(60%);
		opacity: 1;
	}
}

.desc img:hover{
	transform: scale(6) translateX(40%) translateY(10%);
	border-color: rgba(255, 255, 255, 0.5);
}
