/* ########### STYLE ##########*/
#sec-lp, #sec-contact{
	background-image: url(../img/back1.jpg);
	background-position: center;
	background-size: cover;
}
#sec-macro{
	background-image: url(../img/back2.jpg);
	background-position: center;
	background-size: cover;
}
#sec-bob2014, #sec-cv{
	background-image: url(../img/back3.jpg);
	background-position: center;
	background-size: cover;
}
#sec-about{
	background-image: url(../img/back6.jpg);
	background-position: center;
	background-size: cover;
}
nav a{
	text-decoration: none;
	color: lightgrey;
}
nav a:hover{
	background-color: lightgrey;
	color: black;
}
nav a:active{
	background-color: white;
}
aside#social{
	border-radius: 20px 0 0 20px;
	transition: all 0.25s;
}
.fiveHpx{
	background-image: url(../img/500icon.png);
	background-position: center;
	background-size: cover;
}
.flickr{
	background-image: url(../img/flickr.png);
	background-position: center;
	background-size: cover;
}
.fb{
	background-image: url(../img/facebook.png);
	background-position: center;
	background-size: cover;
}
.desc{
	border-radius: 10px;
	opacity: 0;
	background-color: rgba(30, 30, 30, 0.6);
	padding: 10px;
	color: lightgrey;
}
.desc a{
	float: right;
	text-decoration: none;
	color: lightgrey;
	border: solid 1px lightgrey;
	padding: 5px 5px 5px 30px;
	margin-left: 10px;
}
.desc a::before{
	content: "_";
}
.desc a:hover{
	background-color: lightgrey;
	color: black;
}
.desc a:active{
	background-color: white;
}
.desc a.flickrG{
	background-image: url(../img/Icoflickr.png);
	background-repeat: no-repeat;

}
.desc p{
	font-weight: bolder;
}
.desc .photos{
	margin-bottom: 10px;
}
.desc img{
	width: 20%;
	height: auto;
	transition: all 1s;
	border: solid 1px rgba(255, 255, 255, 0);
}
#center_box{
	border-radius: 10px;
	background-color: rgba(30, 30, 30, 0.6);
	padding: 10px;
	color: lightgrey;
}
.icon{
	height: 64px;
	width: 64px;
	margin: 0 auto;
}
.icon img{
	height: 64px;
	width: 49px;
}
