/* ########### STYLE ##########*/
body{
	font-size: 2vmin;
}
section{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-image 0.5s;
	background-color: black;
}
header, footer{
	transition: opacity 1s;
}
.hidden{
	opacity: 0;
}
#sec-about{
	background-image: url(../img/back3.jpg);
}
#sec-about img{
	height: 35px;
}
#sec-pict{
	background-image: url(../img/back6.jpg);
}
#sec-real, #sec-cv{
	background-image: url(../img/back4.jpg);
}
/*#sec-contact{
	background-image: url(../img/back6.jpg);
}*/
nav a, #aboutPanel a.link{
	text-decoration: none;
	color: lightgrey;
	transition: all 0.75s;
}
nav a:hover, nav a.active, #aboutPanel a.link:hover{
	background-color: lightgrey;
	color: black;
}
nav a:active{
	background-color: white;
}
.fiveHpx{
	background-image: url(../img/500icon.png);
	background-position: center;
	background-size: cover;
}
.flickr{
	background-image: url(../img/flickr.png);
	background-position: center;
	background-size: cover;
}
.fb{
	background-image: url(../img/facebook.png);
	background-position: center;
	background-size: cover;
}
#center_box{
	border-radius: 20px;
	background-color: rgba(30, 30, 30, 0.6);
	padding: 10px;
	color: lightgrey;
	border: solid 1px lightgrey;
}
.icon{
	height: 64px;
	width: 64px;
	margin: 0 auto;
}
.icon img{
	height: 64px;
	width: 49px;
}
.panel div{
	background-color: rgba(0, 0, 0, 0.7);
	font-family: 'Roboto Light', arial;
}
.menuButton, .switchButton{
	transition: 1s;
	border: solid 1px black;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.7);
}
.menuButton.hide{
	opacity: 0;
}
.infoPanel{
	transition: all 0.75s;
	padding: 0 15px;
	border: solid 1px lightgrey;
	border-radius: 20px;
}
.menuPanel{
	opacity: 0.7;
	border: solid 1px black;
	border-radius: 0 20px 20px 0;
}
.menuPanel.deploy{
	border: solid 1px lightgrey;
	opacity: 1;
}
#aboutPanel{
	text-align: justify;
}
